{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Device Details</h2>


<div class="container">
    <div class="form-control container">
        <form method="POST">
            {% csrf_token %}
        
            <div class="mb-3 row">
                <label for="device_id" class="col-sm-2 col-form-label">Device ID</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="device_id" id="device_id" value="{{device.device.device_id}}">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="device_type" class="col-sm-2 col-form-label">Device Type</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="device_type" id="device_type" value="{{device.device.name.category}}">
                </div>
              </div>
              
              <div class="mb-3 row">
                  <label for="Description" class="col-sm-2 col-form-label">Device Description</label>
                  <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="Description" id="description" value="{{device.device.description}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="device-id" class="col-sm-2 col-form-label">Assigned Staff</label>
                    <div class="col-sm-10 col-lg-4">
                        <input type="text" readonly class="form-control-plaintext" name="Staff" id="Staff" value="{{device.staff.name}}">
                    </div>
                  </div>
              
              <div class="mb-3 row">
                <label for="date" class="col-sm-2 col-form-label">Room</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="Room" id="Room" value="{{device.device.room.room_id}}">
                </div>
              </div>
       
              <div class="mb-3 row">
                <label for="Reason" class="col-sm-2 col-form-label">Reason to expire the device</label>
                <div class="col-sm-10 col-lg-4">
                    <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>      
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-10 col-lg-4">
                  <button type="btn btn-dark btn-sm" class="btn-success">Expire Device</button>
               </div>
            </div>
        </form>
    </div>

</div>
</section>

{% endblock body %}
