{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Return Request</h2>

<div class="container">
<div class="form-control container" style = "background-color: rgba(245, 245, 245, 0.4);margin-top: 30px;">
    <form method="POST">
        {% csrf_token %}
            <div class="groups-table">
            <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;margin-bottom:30px">
                <thead>
                    <tr>
                      <th scope="col" >Tick</th>
                      <th scope="col" >Device ID</th>
                      <th scope="col" >Device Type</th>
                      <th scope="col" >Device Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in devices %}
                    <tr class="table-success" style = "text-align: center;">
                        <td><input type="checkbox" name="devices" id="option{{device.id}}" value={{device.id}}/></td>
                            
                            <td>{{device.device.device_id}}</td>
                            <td>{{device.device.name.category }}</td>
                            <td>{{device.device.description}}</td>
                    </tr>
                    {% endfor %}  
                </tbody>
             </table>      
            </div>
        <button class="btn btn-dark btn-sm" type="submit">Submit</button>
    </form>
</div>

</div>
</section>
{% endblock body %}