{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Notifications</h2>
<div class="container" style = "text-align: left;background-color: rgba(245, 245, 245, 0.4);">
    <br>
    {% for notification in notifications %}

        {% if notification.checked %}
        
        <i class="fa-solid fa-circle-arrow-right" style = "color: red;"></i>
        <a href="{% url 'main:handleNotification' pk=notification.id %}" style = "text-decoration: none;
            color:black;text-align: center;">  
            {{ notification.message }}
            </a>
        
            <br><br>
        {% else %}
        <i class="fa-solid fa-circle-arrow-right" style = "color: green;"></i>
        <a href="{% url 'main:handleNotification' pk=notification.id %}" style = "text-decoration: none;
            color:black;text-align: center;">  
            {{ notification.message }}
            </a>
        
            <br><br>

        {% endif %}
    {% endfor %}
</div>
{% endblock body %}
