{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}

{% include 'navbar.html' with staff=staff %}
{% load crispy_forms_tags %} 
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Add Devices</h2>
<div class = "container">
    <h3 class = "heading-3" style = "text-align: center;"> LAB: {{ labid.lab }}</h3>
    <div class = "form-add-computer">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
        <button class= "btn btn-dark btn-sm" type="submit">Submit</button>
        </form>
    </div>
</div>
</section>


{% endblock %}
