{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">{{lab.lab.name}} ({{lab.lab.room_id}})</h2>
<div class="container">
<div class="wrapper_">
<div class = "lab-h1">
    <h3 style = "text-align: center;">Devices </h3>
</div>
<div class = "lab-computers">
    
    <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Device ID</th>
            <th scope="col">Device Category</th>
            <th scope="col">Devices Descirption</th>
            {% if staff.designation.designation == "Lab Attendant" or "Lab Technician" %}
               <th scope="col">Add Complaint</th>
               <th scope="col" >All Complaints</th>
            {% endif %}
          </tr>
        </thead>
        
        <tbody>
        {% for device in devices %}
          <tr class="table-success" style = "text-align: center;">
            <td scope="row">{{forloop.counter}}</td>
            <td>{{ device.device_id }}</td>
            <td>{{ device.name.category }}</td>
            <td>{{ device.description }}</td>
            {% if staff.designation.designation ==  "Lab Attendant" or "Lab Technician" %}
            <td><a href="{% url 'main:complaint' pk=device.id %}"><button class="lab-submitButton" type="submit">Add Complaint </button></a></td>
            <td><a href="{% url 'main:viewdevicecomplaints' id=device.id %}"><button class="lab-submitButton" type="submit">View All Complaints </button></a></td>                    
            {%endif%}
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div><br><br><hr>
<h5 class = "viewtimetable" style = "text-align: center;"> View Time Table <a href="{% url 'main:viewtimetable_wrtlab' id=labid %}" class = "lab-a2">click here</a> </h5>
{% if staff.designation.designation ==  "Lab Supervisor" or staff.designation.designation ==  "System Analyst" or staff.designation.designation == "Lab Attendant" %}
<h5 class = "viewtimetable" style = "text-align: center;"> View Time Table <a href="{% url 'main:viewLabClasses' id=labid %}" class = "lab-a2">View Lab Classes</a> </h5>
{%endif%}
<h5 class = "lab-add-h5" style = "text-align: center;"> If you want to add Devices <a href="{% url 'main:add_devices' pk=labid %}" class = "lab-a2">click here</a> </h5>
</div></section>
{% endblock body %}
