{% extends "base.html" %}

{% block title %}Login{% endblock title %}


{% block body %}    
<section class="sectionLogin">

<div class="container p-5">
    <div class="row justify-content-center">
    <div class="bg-light text-info p-5 text-center rounded-3 mainWrapperLogin">

      <div class="row align-items-start">
        
        <div class="col-4 leftImage">
          
        </div>

        <div class="col-8 rightForm">
            <div class="formContainer">
              
              <div class="text-start heading">
                <h1 class="display-3">Login</h1>
              </div>
            

            <form method="POST" class="form">
              {% csrf_token %}
              {% comment %} <div class="bg-dark p-3"> {% endcomment %}
                  <div class="input-group mb-3 inputFieldComplete">
                    <span class="input-group-text fa-round-left" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                    <input type="email" name="email" class="form-control inputField" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
          
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                    <input type="password" name="password" class="form-control inputField" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                {% comment %} </div> {% endcomment %}
                
                <div class="row">
                  <button type="submit" class="btn btn-outline-dark loginButton">Login</button>
                </div>
            </form>
              <div class="row mt-3">
                <div class="col"><a class="customColor-green" href="{% url 'main:passwordReset' %}">Reset Password</a></div>
                <div class="col"><a class="customColor-green" href="{% url 'main:register' %}">Not a Member?</a></div>
              </div>
          </div>
        </div>
      </div>

  </div>

  </div>
    

</div>
</section>

{% endblock %}