{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container mt-5">
	<h2>Password reset</h2>
	<p><strong>Forgotten your password?</strong> Enter your email address below, and we'll email instructions for setting a new one.</p>

	<div class="">
		<form method="POST">
			<div class="form-control">
				{% csrf_token %}
				<label for="Email" class="form-check-label">Email</label>
				<input type="email" name="email" id="email" placeholder="Enter your email id" required>
				<input type="Submit" name="Send email">
			</div>
		</form>
	</div>
</div>
{% endblock %}