{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="sectionLogin">
	<br>
<div class="container">
	<h2 style = "text-align: center;">Hi {{staff.name}}</h2>
	<h2 style = "text-align: center;">Reset your password</h2>

<p class="text-monospace" style = "text-align: center;">Please enter your new password twice so we can verify you typed it correctly.</p>

<form method="POST">
	{% csrf_token %}
	<div class="form-control" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
		<label for="password1">Password</label>
		<input type="password" placeholder="Password" name="password" required>
		<br><br>
		<label for="password1">Password</label>
		<input type="password" placeholder="Confirm Password" name="passwordConfirm" required>
		<br><br>
		<input type="Submit" name="Update Password" class = "btn btn-dark btn-sm">
	</div>
</form>

</div>
</section>
{% endblock %}