{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container mt-5">
	<h2>Hi {{staff.name}}</h2>
	<h2>Reset your password</h2>

<p class="text-monospace">Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="POST">
	{% csrf_token %}
	<div class="form-control">
		<label for="password1">Password</label>
		<input type="password" placeholder="Password" name="password" required>
		
		<label for="password1">Password</label>
		<input type="password" placeholder="Confirm Password" name="passwordConfirm" required>

		<input type="Submit" name="Update Password">
	</div>
</form>

</div>

	{% if messages %}
		{% for message in messages %}
			<div class="alert {{ message.tags }} msg-style">
			{{ message }}
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}