{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container p-5">
    <div class="row justify-content-center">
    <div class="bg-light text-info p-5 text-center rounded-3 mainWrapperLogin">

<div class="container mt-5">
	<h2>Password reset</h2>
	<p><strong>Forgotten your password?</strong> Enter your email address below, and we'll email instructions for setting a new one.</p>

	<div class="">
		<form method="POST">
			<div class="form-control">
				{% csrf_token %}
				<d class="flex"></d>
				<label for="Email" class="form-check-label">Email</label>
				<!-- <input type="email" name="email" id="email" placeholder="Enter your email id" required> -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">@</span>
					<input type="email" name="email" class="form-control" placeholder="Email">
				</div>
				<input type="Submit" name="Send email">
			</div>
		</form>
	</div>
</div>

	</div>
	</div>
</div>
{% endblock %}