{% extends "base.html" %}

{% block head %}

  
  <script>
    const designations = {
      "Faculty": ["Professor", "Associate Professor", "Assistant Professor"],
      "Lab Staff": ["Lab Attendant", "Lab Associate",  "Lab Supervisor", "Lab Technician", "System Analyst"],
      "Office Staff" : ["Program Manager"],
      "Student": ["PHD", "ME"]
    }
    const agencys = {
      "Regular": 1,
      "Adhoc": 2,
      "Randstad" : 3,
    }
  
    window.onload = ()=> {
    var category = document.getElementById('category');
    var des = document.getElementById('designation');
    var agency = document.getElementById('agency');
    
    
    for(var i in designations ) {
      category.options[category.options.length] = new Option(i, i);
    }
    
  
    category.addEventListener('change', ()=> {
      des.length = 1;
      var arr = designations[category.value];
      for(var i=0; i<arr.length; i++) {
        des.options[des.options.length] = new Option(arr[i], arr[i]);
        }
    }) 
    for(var i in agencys ) {
      agency.options[agency.options.length] = new Option(i, i);
    }
  
  }
  
  
  
    </script>

{% endblock head %}
{% include 'navbar.html' with user=user %}
{% block body %} 
{% load crispy_forms_tags %}       

<!--Register--> 
<div class="container-fluid p-5 col-sm-5 col-lg-5 ">
  

  <div class="section bg-dark text-light p-5 text-center rounded-3">
<div class = "heading">
  <h1>LAB MANAGEMENT SYSTEM</h1>  
</div>
<div class="container py-5">
	<h1>Register</h1>
	<div class="control_form">


	<form method="POST">
   {% csrf_token %}
    
      
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
        <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></i></span>
      <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile"></i></span>
      <input type="text" class="form-control" placeholder="Mobile Number" aria-label="Username" aria-describedby="basic-addon1">
    </div>



    <div class="mb-3 row">
      
      <select class="form-select" aria-label="Default select example" id="category" name="category">
        <option selected id="selectedCategory">Select Category</option>
      </select>
    </div>
    <div class="mb-3 row">
      <select class="form-select" aria-label="Default select example" id="designation" name="designation">        
        <option id="selectedDesignation"> select Destination </option>
        </select>
    </div>
    <div class="mb-3 row">
        <select class="form-select" aria-label="Default select example" id="agency" name="agency">        
          <option id="selectedAgency"> select Agency </option>
          </select>
    </div>

    <div class="mb-3 row">
      <button type="button" class="btn btn-info">Register</button>
    </div>

    </form>
  </div>
</div>


{% endblock %}