{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Add class</h2>
    <div class="container" style="background-color: rgba(245, 245, 245,0.4);margin-top:20px">
<form method="post" id="coursesform" data-courses-url="{% url 'main:ajax_load_groupcourses' %}" style = "padding:40px" >
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Submit" class = "btn btn-sm btn-dark">
</form>
</div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_faculty").change(function () {
        const url1 = $("#coursesform").attr("data-courses-url");
        const facultyId = $(this).val();  // get the selected country ID from the HTML input
            
        $.ajax({                       // initialize an AJAX request
            url: url1,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'faculty_id': facultyId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_faculty_group_course").html(data);  // replace the contents of the city input with the data that came from the server
                
            }
        });      

    });
</script>

{% endblock body %}