{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff %}
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Courses</h2>
<div class="container">
    <div class="courses-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Faculty</th>
                <th scope="col" >Course Id</th>
                <th scope="col" >Course Name</th>
                <th scope="col" >Course Credits</th>
                <th scope="col" >Sem</th>
                
              </tr>
            </thead>
    
            <tbody>
              {% for course in courses %}
              <tr class="table-success" style = "text-align: center;">
                <td>{{course.faculty.name}}</td>
                <td>{{course.course.course_id}}</td>
                <td>{{course.course.course_name}}</td>
                <td>{{course.course.course_credit}}</td>
                <td>{{course.course.course_year}}({{course.course.semester_type}})</td>
                              
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a href="{% url 'main:viewallfacultycourses' id=staff.id %}" class="btn btn-dark btn-sm">View All Courses</a>
    </div>
    </section>
{% endblock body %}