{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<div class="container">
    <div class="labs-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >Faculty</th>
                <th scope="col" >Lab</th>
                <th scope="col" >Course</th>
                <th scope="col" >Group</th>
                <th scope="col" >Day</th>
                <th scope="col" >Start Time</th>
                <th scope="col" >End Time</th>
              </tr>
            </thead>
    
            <tbody>
              {% for class in classes %}
              <tr>
                <td>{{class.faculty.name}}</td>
                <td>{{class.lab.lab}}</td>
                <td>{{class.faculty_group_course.course.course.course_id}}</td>
                <td>{{class.faculty_group_course.group.groups.group_id}}</td>
                <td>{{class.day}}</td>
                <td>{{class.starttime}}</td>
                <td>{{class.endtime}}</td>
                              
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a href="{% url 'main:viewallfacultyclasses' id=staff.id %}" class="btn btn-primary">View All Classes</a>
    </div>
{% endblock body %}