{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff %}
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">All classes</h2>
<div class="container" style = "margin-top: 30px;">
    <div class="col">
        <div class=" card card-body" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
            <form method="get">
                {{myFilter.form}}
                <br><br>
                <button class="btn btn-dark btn-sm" type="submit">Filter Search</button>
            </form>
        </div>
    </div>
    <div class="labs-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Sem</th>
                <th scope="col" >Faculty</th>
                <th scope="col" >Lab</th>
                <th scope="col" >Course</th>
                <th scope="col" >Group</th>
                <th scope="col" >Day</th>
                <th scope="col" >Start Time</th>
                <th scope="col" >End Time</th>
                <th scope="col" >Tools used</th>
              </tr>
            </thead>
    
            <tbody>
              {% for class in faculty_classes %}
              <tr class="table-success" style = "text-align: center;">
                <td>{{class.faculty_group_course.course.course.course_year}}({{class.faculty_group_course.course.course.semester_type}})</td>
                <td>{{class.faculty.name}}</td>
                <td>{{class.lab.lab}}</td>
                <td>{{class.faculty_group_course.course.course.course_id}}</td>
                <td>{{class.faculty_group_course.group.groups.group_id}}</td>
                <td>{{class.day}}</td>
                <td>{{class.starttime}}</td>
                <td>{{class.endtime}}</td>
                <td>{{class.tools_used}}</td>
                              
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    </section>
{% endblock body %}