{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}


<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Courses</h2>
<div class="container">
    <div class="col">
        <div class=" card card-body" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-dark btn-sm" type="submit">Filter Search</button>
            </form>
        </div>
    </div>
    <div class="courses-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Course-ID</th>
                <th scope="col" >Course Name</th>
                <th scope="col" >Course Credit</th>
                <th scope="col" >Sem</th>
              </tr>
            </thead>
            
            <tbody>
              {% for course in faculty_courses %}
            <tr class="table-success" style = "text-align: center;">
                <td>{{course.course.course_id}}</td>
                <td>{{course.course.course_name}}</td>
                <td>{{course.course.course_credit}}</td>
                <td>{{course.course.course_year}}({{course.course.semester_type}})</td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
</div>
{% endblock body %}