{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Group-Courses</h2>
<div class="container" style = "margin-top: 30px;">
  <div class="col-lg-12" style = "text-align: right;">
    <a href = "{% url 'main:viewallfacultygroupcourses' id=staff.id %}" style="color: white;text-decoration: none;"><button class="btn btn-dark" style = "border-radius: 20px;">View All Group-Course</button></a>
  </div>
  <br>
    <div class="courses-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;margin-bottom:50px">
            <thead>
              <tr>
                <th scope="col" >Course-id</th>
                <th scope="col" >Course Name</th>
                <th scope="col" >Group</th>
                <th scope="col" >Sem</th>
              </tr>
            </thead>
    
            <tbody>
              {% for gc in groupcourses %}
              <tr class="table-success" style = "text-align: center;">
                <td>{{gc.course.course.course_id}}</td>
                <td>{{gc.course.course.course_name}}</td>
                <td>{{gc.group.groups.group_id}}</td>
                <td>{{gc.course.course.course_year}}({{gc.course.course.semester_type}})</td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    </section>
{% endblock body %}