{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff %}


<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">All groups</h2><br><br>
<div class="container">
    <div class="col">
        <div class=" card card-body" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-dark btn-sm" type="submit">Filter Search</button>
            </form>
        </div>
    </div>
    <div class="courses-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Group-ID</th>
                <th scope="col" >Group Branch</th>
                <th scope="col" >Sem</th>
              </tr>
            </thead>
            
            <tbody>
              {% for group in faculty_groups %}
            <tr class="table-success" style = "text-align: center;">
                <td>{{group.groups.group_id}}</td>
                <td>{{group.groups.branch}}</td>
                <td>{{group.groups.group_year}}({{group.groups.semester_type}})</td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
</div>
</section>
{% endblock body %}