{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count%}

<div class="container">
    <div class="col">
        <div class=" card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Filter Search</button>
            </form>
        </div>
    </div>
    <div class="labs-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >Sem</th>
                <th scope="col" >Faculty</th>
                <th scope="col" >Lab</th>
                <th scope="col" >Course</th>
                <th scope="col" >Group</th>
                <th scope="col" >Day</th>
                <th scope="col" >Start Time</th>
                <th scope="col" >End Time</th>
                <th scope="col" >Tools used</th>
              </tr>
            </thead>
    
            <tbody>
              {% for class in faculty_classes %}
              <tr>
                <td>{{class.faculty_group_course.course.course.course_year}}({{class.faculty_group_course.course.course.semester_type}})</td>
                <td>{{class.faculty.name}}</td>
                <td>{{class.lab.lab}}</td>
                <td>{{class.faculty_group_course.course.course.course_id}}</td>
                <td>{{class.faculty_group_course.group.groups.group_id}}</td>
                <td>{{class.day}}</td>
                <td>{{class.starttime}}</td>
                <td>{{class.endtime}}</td>
                <td>{{class.tools_used}}</td>
                              
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock body %}