{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<div class="container">
    <div class="courses-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >Course-id</th>
                <th scope="col" >Course Name</th>
                <th scope="col" >Group</th>
                <th scope="col" >Sem</th>
              </tr>
            </thead>
    
            <tbody>
              {% for gc in groupcourses %}
              <tr>
                <td>{{gc.course.course.course_id}}</td>
                <td>{{gc.course.course.course_name}}</td>
                <td>{{gc.group.groups.group_id}}</td>
                <td>{{gc.course.course.course_year}}({{gc.course.course.semester_type}})</td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a href="{% url 'main:viewallfacultygroupcourses' id=staff.id %}" class="btn btn-primary">View All Groups-Courses</a>
    </div>
{% endblock body %}