{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Leave Status</h2>
<div class="container">

    <div class="card p-5 card-body" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
        <p>Sender: {{leaveRequest.staff.name}}</p>
        <p>Substitute: {{leaveRequest.substitute.name}}</p>
        <p>Date: {{leaveRequest.from_date}}</p>
        <p>Number of Leaves: {{getTotalLeaveDays}}</p>
        <p>Reason: {{leaveRequest.reason}}</p>
        <p>Status: {{leaveRequest.status}}</p>
        {% if not leaveRequest.rejected %}
            <a href="{% url 'main:cancelLeaveRequest' pk=leaveRequest.id %}">Cancel Request</a>
        {% else %}
            <p>Leave request rejected </p>
        {% endif %}
    </div></div>

</div>
</section>

{% endblock body %}