{% extends 'base.html' %}
{% load static %}

{% block head %}
  <script>
    const toDateToggle = ()=> {
      const checkbox = document.getElementById('multipleLeaveCheckbox');
      const toDateDisplay = document.getElementById('toDate');
       
      if(checkbox.checked ) {
        toDateDisplay.style.display = "block";
        checkbox.value = 'checked';
        
      } else {
        toDateDisplay.style.display = "none";
        checkbox.value = 'uncheck';
       } 
      //  console.log(checkbox.value)
    }
  </script>
{% endblock head %}

{% block body %}
{% include 'navbar.html' with staff=staff %}

<div class="container">
    <div class="form-control container">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="applicant" class="col-sm-2 col-form-label">Applicant</label>
                <div class="col-sm-10 col-lg-4">
                  <input type="text" readonly class="form-control-plaintext" name="applicant" id="applicant" value="{{staff.name}}">
                </div>
              </div>

              <div class="mb-3 row">
                <label for="leaveSelection" class="col-sm-2 col-form-label">Select Leave</label>
                <div class="col-sm-10 col-lg-4">
                <select class="form-select" aria-label="Default select example" id="leaveSelection" name="leaveSelection">
                    <option selected>---------</option>
                    {% for leave in totalLeavesCurrYear %}
                        <option value="{{leave.id}}">{{leave.LeaveName}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="multipleLeaveCheckbox" class="col-sm-2 col-form-label">Multiple Leaves? </label>
                <div class="col-sm-10 col-lg-4">
                    <input type="checkbox" id="multipleLeaveCheckbox" name="multipleLeaveCheckbox" onclick="toDateToggle()" value="uncheck">
                </div>
              </div>

              <div class="mb-3 row" id="fromDate">
                <label for="dateFrom" class="col-sm-2 col-form-label">From Date</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="date" id="dateFrom" name="fromDate"  value="{{placement.date|date:'Y-m-d' }}" >
                </div>
              </div>
              
              <div class="mb-3 row" id="toDate" style="display: none;">
                <label for="toDate" class="col-sm-2 col-form-label">To Date</label>
                <div class="col-sm-10 col-lg-4">
                  <input type="date" id="date" name="toDate" value="{{placement.date|date:'Y-m-d' }}">
                </div>  
              </div>

              <div class="mb-3 row">
                <label for="substitute" class="col-sm-2 col-form-label">substitutes</label>
                <div class="col-sm-10 col-lg-4">
                <select class="form-select" aria-label="Default select example" id="substitute" name="substitute">
                    <option selected>---------</option>
                    {% for substitute in substitutes %}
                        <option value="{{substitute.id}}">{{substitute}}</option>
                    {% endfor %}
                    </select>                    
                </div>
              </div>
              <div class="mb-3 row">
                <label for="reason" class="col-sm-2 col-form-label">Reason</label>
                <div class="col-sm-10 col-lg-4">
                    <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>            
                </div>
              </div>

              <div class="mb-3 row">
                  <div class="col-sm-10 col-lg-4">
                    <button type="submit" class="btn-success">Send Request</button>
                 </div>
              </div>

        </form>
    </div>

</div>

{% endblock body %}
