{% extends 'base.html' %}
{% load static %}

{% block head %}
  <script>
    const toDateToggle = ()=> {
      const checkbox = document.getElementById('multipleLeaveCheckbox');
      const toDateDisplay = document.getElementById('toDate');
      const halfLeaveMain = document.getElementsByClassName('halfLeaveMain')

      if(checkbox.checked ) {
        halfLeaveMain[0].style.display = 'none';
        toDateDisplay.style.display = "flex";
        checkbox.value = 'checked';
        
      } else {
        halfLeaveMain[0].style.display = 'flex';
        toDateDisplay.style.display = "none";
        checkbox.value = 'uncheck';
      } 
      //  console.log(checkbox.value)
    }
    const halfToggle = () => {
      const halfLeavecheckbox = document.getElementById('halfLeaveCheckbox');
      const halfLeaveSelect = document.getElementById('halfLeaveSelect');
      const mulLeave = document.getElementsByClassName('mulLeave');
      
      if(halfLeavecheckbox.checked) {
        mulLeave[0].style.display = 'none';
        halfLeaveSelect.style.display = 'block';
        halfLeavecheckbox.value = 'checked';
      } else {
        mulLeave[0].style.display = 'flex';
        halfLeaveSelect.style.display = 'none';
        halfLeavecheckbox.value = 'uncheck';
      }
    }
  </script>
{% endblock head %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Leave Request</h2>

<div class="container">
    <div class="form-control container" style = "color: black;text-decoration: none;background-color: rgba(245, 245, 245, 0.4);margin-top: 40px;padding:20px">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="applicant" class="col-sm-2 col-form-label">Applicant</label>
                <div class="col-sm-10 col-lg-4">
                  <input type="text" readonly class="form-control-plaintext" name="applicant" id="applicant" value="{{staff.name}}" required>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="leaveSelection" class="col-sm-2 col-form-label">Select Leave</label>
                <div class="col-sm-10 col-lg-4">
                <select class="form-select" aria-label="Default select example" id="leaveSelection" name="leaveSelection" required>
                    {% for leave in totalLeavesCurrYear %}
                        <option value="{{leave.id}}">{{leave.LeaveName}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="mb-3 row halfLeaveMain">
                <label for="multipleLeaveCheckbox" class="col-sm-2 col-form-label">Half Leave?</label>
                <div class="col-lg-1">
                    <input type="checkbox" id="halfLeaveCheckbox" name="halfLeaveCheckbox" onclick="halfToggle()" value="uncheck">
                </div>
                <div class="col-sm-10 col-lg-4" id="halfLeaveSelect" style="display: none;">
                    <select name="halfLeaveSelect" id="halfLeaveSelect" required>
                      <option selected>-----</option>
                      <option value="first_half">First Half</option>
                      <option value="second_half">Second Half</option>
                    </select>
                </div>
              </div>

              <div class="mb-3 row mulLeave">
                <label for="multipleLeaveCheckbox" class="col-sm-2 col-form-label">Multiple Leaves? </label>
                <div class="col-sm-10 col-lg-4">
                    <input type="checkbox" id="multipleLeaveCheckbox" name="multipleLeaveCheckbox" onclick="toDateToggle()" value="uncheck">
                </div>
              </div>

              <div class="mb-3 row" id="fromDate">
                <label for="dateFrom" class="col-sm-2 col-form-label">From Date</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="date" id="dateFrom" name="fromDate"  value="{{from_date|date:'Y-m-d' }}" required>
                </div>
              </div>
              
              <div class="mb-3 row" id="toDate" style="display: none;">
                <label for="toDate" class="col-sm-2 col-form-label">To Date</label>
                <div class="col-sm-10 col-lg-4">
                  <input type="date" id="date" name="toDate" value="{{to_date|date:'Y-m-d' }}">
                </div>  
              </div>

              <div class="mb-3 row">
                <label for="substitute" class="col-sm-2 col-form-label">Substitutes</label>
                <div class="col-sm-10 col-lg-4">
                <select class="form-select" aria-label="Default select example" id="substitute" name="substitute">
                    <option selected>-------</option>
                    {% for substitute in substitutes %}
                        <option value="{{substitute.id}}">{{substitute.name}}</option>
                    {% endfor %}
                    </select>                    
                </div>
              </div>
              <div class="mb-3 row">
                <label for="reason" class="col-sm-2 col-form-label">Reason</label>
                <div class="col-sm-10 col-lg-4">
                    <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>            
                </div>
              </div>
              <div class="mb-3 row">
                  <div class="col-sm-10 col-lg-4">
                    <button type="submit" class="btn btn-dark btn-sm">Send Request</button>
                 </div>
              </div>

        </form>
    </div>

</div>

{% endblock body %}
