{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
<div class = "container">

<div class = "wrapper">
    <div class = "leaves container">
        <h1 style = "text-align: center;">Leaves Status</h1>

        <div class="card w-70 flex" style = "color: black;text-decoration: none;background-color: rgba(245, 245, 245, 0.4);margin-bottom: 40px;padding:20px">
            <div  class="nav-link nav_text" style = "text-decoration: none;">
                <i class="fa-solid fa-circle-arrow-right" style = "color: black;"></i>
                <a href="{% url 'main:approveLeaves' %}" style = "text-align:center;color: black;text-decoration: none;">     Leave Approval</a>
            </div>
            <div  class="nav-link nav_text">
                <i class="fa-solid fa-circle-arrow-right" style = "color: black;"></i>
                <a href="{% url 'main:checkLeaveStatus' %}" style = "color: black;text-decoration: none;">     Pending Leaves</a>
            </div>

            <div  class="nav-link nav_text">
                <i class="fa-solid fa-circle-arrow-right" style = "color: black;"></i>
                <a href="{% url 'main:viewprevleaves' %}" style = "color: black;text-decoration: none;">     View Previous Leaves taken</a>
            </div>
        </div>

        <div class = "tables-leaves card" style = "color: black;text-decoration: none;background-color: rgba(245, 245, 245, 0.4);margin-bottom: 40px;padding:20px">
            <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
                <h5 style = "text-align: center;"><b>
                    Leaves for : {{year}}
                </b>
                </h5>
                <thead class="thead-dark">
                    <th>Leaves Name</th>
                    <th>Total Leaves Alloted</th>
                    <th>Leaves Taken</th>
                </thead>
                <tbody>
                    {% for leave in userLeavesTaken %}
                    <tr class="table-success" style = "text-align: center;">
                        <td>{{leave.leave_taken.LeaveName}}</td>
                        <td> {{leave.leave_taken.count}}</td>
                        <td> {{leave.count}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Compensatory</td>
                        <td>{{compensatoryLeaveCount}}</td>
                        <td>{{compensatoryLeaveTaken.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = "request-leave-button">
            <a href="{% url 'main:requestleave' %}"><button class="btn btn-dark btn-sm" type="submit">Request Leave </button></a>
        </div>
    </div>
</div>
</section>
{% endblock body %}