{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Pending Leaves</h2>

<div class="container mt-5">
<table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Receiver</th>
        <th scope="col">To Date</th>
        <th scope="col">From Date</th>
        <th scope="col">Status</th>
        <th scope="col">Approve/Decline</th>
      </tr>
    </thead>
        <tbody>
        {% for leave in leaves %}

        {% if not leave.admin_approval %}
            <tr>
                <td>{{ leave.staff.name }}</td>
                <td>{{ leave.substitute.name }} (you) </td>
                <td>{{ leave.to_date }}</td>
                <td>{{ leave.from_date }}</td>
                <td>{{ leave.status }}</td>
                {% if not leave.substitute_approval and not leave.rejected%}
                <td>
                    <a style="color: #000; text-decoration: underline;" href="{% url 'main:approveRequest' pk=leave.id%}">Approve/</a>
                    <a style="color: #000; text-decoration: underline;" href="{% url 'main:declineRequest' pk=leave.id%}">Decline</a>
                </td>
                {% elif leave.substitute_approval %}
                    <td>Already Approved</tr>
                {% elif leave.rejected %}
                    <td>Declined</tr>
                {% endif %}
            </tr>
        {% else %}

            <h2>No active requests for leave </h2>
            <a href="#">Click to apply a new leave</a>
        {% endif %}
        
        {% endfor %}
        </tbody>
  </table>
  </div>


{% endblock body %}