{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">View Previous Leaves</h2>
<div class='container'>
    <div class="all-leaves-container" style = "text-align: center;">
        <h3 style="text-align: center;"> All Leaves Taken by {{staff.name}}</h3>
            <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
                <thead class="thead-dark">
                    <th>Sender</th>
                    <th>Substitute</th>
                    <th>Leave Type</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Reason </th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for leave in all_leaves %}
                    <tr class="table-success" style = "text-align: center;">
                        <td>{{leave.staff.name}}</td>
                        <td>{{leave.substitute.name}}</td>
                        <td>{{leave.leave_type.LeaveName}}</td>
                        <td>{{leave.from_date}}</td>
                        <td>{{leave.to_date}}</td>
                        <td>{{leave.reason}}</td>
                        <td>{{leave.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


   

</div></section>


{% endblock body %}