/* --------------------------------  BASIC and VARIABLES -------------------------------- */

/* 
    SCREEN BREAK POINTS: 
      LARGE: 1024 px
      SMALL: 560 px
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
html,
body {
  font-family: "Bitter", serif;
  width: 100%;
  height: 100%;
  background-color: var(--green-main-4);
  background-image: linear-gradient(
    to bottom right,
    var(--green-main-4) 50%,
    var(--green-main-1) 50%
  );
}
a {
  text-decoration: none;
}
:root {
  --green-main-1: #6ecbc1;
  --green-main-2: #6cccc1;
  --green-main-3: #75d1c1;
  --green-main-4: #9cddd1;
  --green-main-5: #c7ebe5;
  --darkgreen-main-1: #1a6659;
  --darkgreen-main-2: #409583;
  --blue-button-main: #03658c;
  --green-button-main: #48c0a5;
  --tomato-main: #f05e57;
  --purple-main-1: #57428d;
  --purple-main-2: #5e497e;
}

/* .navlink:hover {
  border-bottom: 5px solid red;
} */

/* -------------------------------- LOGIN --------------------------------*/

.sectionLogin {
}
.mainWrapperLogin {
  border-radius: 20px;
}
.customColor-green,
.customColor-green:hover,
.customColor-green:active,
.customColor-green:visited {
  color: var(--green-button-main);
  text-decoration: none;
}
.inputFieldComplete {
  background-color: yellow;
  border-radius: 40px;
}
.inputField {
  border-radius: 40px;
}
.loginButton {
  width: 20%;
  margin: 10px 0 0 50px;
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 560px) {
  .leftImage {
    display: none;
  }
  .rightForm {
    display: block;
  }
  .inputField {
    width: 100%;
  }
}
