{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}


<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Rooms</h2>
<div class="container">
  
    <div class="col">
        <div class="card card-body" style="background-color: rgba(245, 245, 245,0.4);">
              <form method="get">
                <tr><th><label for="id_floor">Floor:</label></th><td>
                  <select name="floor" id="id_floor">
                    <option value="">------</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

                <tr><th><label for="id_is_lab">Is lab:</label></th>
                  <td>
                  <select name="is_lab" id="id_is_lab">
                      <option value="" selected>------</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                  </select>

                  </td>
                </tr>
                  <tr><th>
                  <label for="id_name">Name contains:</label></th><td><input type="text" name="name" id="id_name">
                  </td>
                </tr>
                <button class="btn btn-dark btn-sm" type="submit">Search</button>
              </form>
        </div>
    </div>
    <br>
    <div class="courses-table" style = "margin-top: 20px;">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Room-ID</th>
                <th scope="col" >Name</th>
                <th scope="col" >Floor</th>
                <th scope="col" >edit</th>
              </tr>
            </thead>
    
            <tbody>
              {% for room in rooms %}
              <tr class="table-success">
                <td>{{room.room_id}}</td>
                <td>{{room.name}}</td>
                <td>{{room.floor}}</td>
                <td><a href="{% url 'main:admineditroom' id=room.id%}" style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="add-room" style = "text-align: center;">
          <p>If you want to add a room,<a href="{%url 'main:adminaddroom'%}" style="color: black; text-decoration: underline;">click here</a></p>
        </div>
</div>
</section>
{% endblock body %}