{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff%}


<div class="container">
<div class="labs-table">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" >Lab</th>
            <th scope="col" >Lab name</th>
            <th scope="col" >Lab Attendent</th>
            <th scope="col" >View Lab</th>
          </tr>
        </thead>

        <tbody>
          {% for lab in labs %}
          <tr>
            <td>{{lab.lab}}</td>
            <td>{{lab.name}}</td>
            <td>{{lab.staff.name}}</td>
            <td style="text-align: center;"><a  href="{% url 'main:lab' pk=lab.id%}"style="color: rgb(48, 1, 1); text-decoration: underline;">View Lab</a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <div class="new-user-form">
        <h6>Create new staff member <a href="#">click here</a></h6>
    </div>
    </div>
</div>



{% endblock body %}