{% extends "base.html" %}

{% block head %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

</style>

{% endblock head %}

{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}
{% load crispy_forms_tags %} 
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Add Faculty Class</h2>
<div class = "container">
    <h4 class = "heading-3" style = "text-align: center;"> Faculty: {{ faculty.name }}</h4>
    <div class = "form-add-computer">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <br>
        <button class= "btn btn-dark btn-sm" type="submit">Submit</button>
        </form>
    </div>
</div>
</section>


{% endblock %}
