{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;"> View Branches</h2>
<div class="container">
    <div class="groups-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Branch ID</th>
                <th scope="col" >Branch name</th>
                <th scope="col" >Edit Branch</th>
              </tr>
            </thead>
            <tbody>
              {% for branch in branches %}
              <tr class="table-success" style = "text-align: center;">
                <td>{{branch.branch_id}}</td>
                <td>{{branch.branch_name}}</td>
                
                <td><a href="{%url 'main:admineditbranch' id=branch.id %}" style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>              
                
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
        <p>If you want to add a branch, <a href = "{% url 'main:adminaddbranch' %}">click here</a></p>
    </div>
    </section>
{% endblock body %}