{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;"> Type of Devices</h2>
<div class="container">
  <div class="col-lg-12" style = "text-align: right;">
    <a href = "{% url 'main:adminaddTypeOfDevice' %}" style="color: white;text-decoration: none;"><button class="btn btn-dark" style = "border-radius: 20px;"><i class="fa-solid fa-plus"></i> Type Of Device</button></a>
  </div>
  <br>
    <div class="groups-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Type of Device</th>
                <th scope="col" >Edit Branch</th>
              </tr>
            </thead>
            <tbody>
              {% for type in tod %}
              <tr class="table-success" style = "text-align: center;">
                <td>{{type.category}}</td>
                
                <td><a href="{%url 'main:admineditTypeOfDevice' id=type.id %}" style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>              
                
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    </section>
{% endblock body %}