{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count%}


<div class="container">
    <div class="col">
        <div class=" card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Filter Search</button>
            </form>
        </div>
    </div>
    <div class="courses-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >Device-ID</th>
                <th scope="col" >Device Category</th>
                <th scope="col" >Device Description</th>
                <th scope="col" >Device Location</th>
                <th scope="col" >In inventory</th>
                <th scope="col" >Is Working</th>
                
              </tr>
            </thead>
            
            <tbody>
              {% for device in devices %}
            <tr>
                <td>{{device.device_id}}</td>
                <td>{{device.name.category}}</td>
                <td>{{device.description}}</td>
                <td> Ware House</td>
                <td>{{device.in_inventory}}</td>
                <td>{{device.is_working}}</td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p>If you want to add a device, <a href = "{% url 'main:adminadd_device' %}">click here</a></p>
</div>
{% endblock body %}