{% extends 'base.html' %}
{% load static %}
{%load crispy_forms_tags %} 

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Add Type of Device</h2>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-dark btn-sm">Add Type of Device</button>
      </form>
</div>
</section>



{% endblock body %}