{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff%}

<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Staff Members</h2>
<div class="container">
    
    
    <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Designation</th>
                <th>Agency</th>
                <th>Office</th>
                <th>Edit</th>
                <th>View Inventory</th>
            </tr>
        </thead>
        <tbody>
            
                {% for staff in staffs %}
                <tr class="table-success">
                    <td class="table-success">{{staff.name}}</td>
                    <td class="table-success">{{staff.category.category}}</td>
                    <td class="table-success">{{staff.designation.designation}}</td>
                    <td class="table-success">{{staff.agency.agency}}</td>
                    <td class="table-success">{{staff.room}}</td>
                    <td class="table-success"><a href=" {% url 'main:editProfile' pk=staff.id  %} " style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>
                    <td class="table-success"><a href="{% url 'main:adminviewinventory' id=staff.id %} " style="color: black; text-decoration: underline;"><i class="fa-solid fa-warehouse"></i></a></td>
                </tr>
                {% endfor %}
            
        </tbody>
    </table>
    </div>
    <br>
    <div class="new-user-form">
        <h6 style = "text-align: center;">Create new staff member <a href="#">click here</a></h6>
    </div>
</div>
</section>


{% endblock body %}