{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}


<div class="container">
    <div class="labs-table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Leave</th>
                <th scope="col">Count</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>

            <tbody>
                {% for leave in leavesThisYear %}
            <tr>
                <td>{{leave.LeaveName}}</td>
                <td>{{leave.count}}</td>
                <td>
                 <button class="btn btn-dark btn-sm"> <a href="{% url 'main:adminEditLeave' pk=leave.id %}" style="color: white; text-decoration: none;">Edit Leave</a> </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container">
            <div class="col-lg-12">
                <button class="btn btn-dark btn-sm"><a style="color: white; text-decoration: none;" href="{% url 'main:newLeave' %}">Add a new leave category</a></button>
            </div>
        </div>
    </div>
</div>



{% endblock body %}