{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<div class="container mt-5">
<h1 style="text-align: center;"> Active Complaints</h1>
<table class="table1">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Lab</th>
        <th scope="col">Device</th>
        <th scope="col">Complaint</th>
        <th scope="col">Active Status</th>
        <th scope="col" style="text-align: center;">Resolve Complaint</th>
      </tr>
    </thead>
        <tbody>
        {% for complaint in complaints %}
        <tr>
            <td>{{ complaint.created_by.name }}</td>
            <td>{{ complaint.device.room.name }} ({{complaint.device.room.room_id}})</td>
            <td>{{ complaint.device.name }}</td>
            <td>{{ complaint.complaint }}</td>
            <td>Active</td>
            <td style="text-align: center;"><a href="{% url 'main:resolveConflict' pk=complaint.id %}" style="color: rgb(48, 1, 1); text-decoration: underline;">Resolve</a></td>
          </tr>
        {% endfor %}
        </tbody>
  </table>
  
  </div>


{% endblock body %}