{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<!-- <div class="container"> -->
    <div class="labs-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >Faculty</th>
                <th scope="col" >Lab</th>
                <th scope="col" >Course</th>
                <th scope="col" >Group</th>
                <th scope="col" >Day</th>
                <th scope="col" >Start Time</th>
                <th scope="col" >End Time</th>
                <th scope="col" >Tools Used</th>
                <th scope="col" >Edit</th>
                <th scope="col" >Delete</th>                
              </tr>
            </thead>
    
            <tbody>
              {% for class in classes %}
              <tr>
                <td>{{class.faculty.name}}</td>
                <td>{{class.lab.lab}}</td>
                <td>{{class.faculty_group_course.course.course.course_name}}</td>
                <td>{{class.faculty_group_course.group.groups.group_id}}</td>
                <td>{{class.day}}</td>
                <td>{{class.starttime}}</td>
                <td>{{class.endtime}}</td>
                <td>{{class.tools_used}}</td>
                <td><a href="{% url 'main:adminupdatefacultyclass' id=faculty.id pk=class.id %}" style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>    
                <td><a href="{%url 'main:admindeletefacultyclass' id=class.id %}" style="color: black; text-decoration: underline;"><i class="fa fa-trash" aria-hidden="true"></i></a></td>      
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p>If you want to add a class <a href = "{% url 'main:adminaddfacultyclass' id=faculty.id %}">click here</a></p>
        </div>
    <!-- </div> -->
{% endblock body %}