{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}


<div class="container">
    <div class="card custom-card-list">
    <h2>Staff Members</h2>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Designation</th>
                <th>Agency</th>
                <th>Office</th>
                <th>Edit</th>
                <th>View Inventory</th>
            </tr>
        </thead>
        <tbody>
            
                {% for staff in staffs %}
                <tr>
                    <td>{{staff.name}}</td>
                    <td>{{staff.category.category}}</td>
                    <td>{{staff.designation.designation}}</td>
                    <td>{{staff.agency.agency}}</td>
                    <td>{{staff.room}}</td>
                    <td><a href=" {% url 'main:editProfile' pk=staff.id  %} " style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>
                    <td><a href="{% url 'main:adminviewinventory' id=staff.id %} " style="color: black; text-decoration: underline;">View Inventory</a></td>
                </tr>
                {% endfor %}
            
        </tbody>
    </table>
    </div>
    </div>
</div>



{% endblock body %}