{% extends 'base.html' %}

{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Faculty Details</h2>
<div class="container">
  <br>


  <div class="col-lg-12" style = "text-align: right;">
    <a style="color: white;text-decoration: none;" href="{% url 'main:addFaculty' %}"><button class="btn btn-dark" style = "border-radius: 20px;"><i class="fa-solid fa-plus"></i> Add Faculty</button></a>
  </div>
  <br>
<div class="labs-table">
    <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
        <thead>
          <tr style = "text-align: center;">
            <th scope="col" >Faculty</th>
            <th scope="col" >Groups</th>
            <th scope="col" >Courses</th>
            <th scope="col" >Group-Course</th>
            <th scope="col" >Classes</th>
            <th scope="col" >View TimeTable</th>
          </tr>
        </thead>

        <tbody>
          {% for x in faculty %}
          <tr class="table-success" style = "text-align: center;">
            <td class="table-success">{{x.name}}</td>
            <!-- % url 'main:add_classes' id=labid % -->
            <td style = "text-align: center;"><a href = "{% url 'main:adminviewgroups' id=x.id %}" style = "color : black;text-decoration: underline;"> View </a></td>
            <td style = "text-align: center;"><a href = "{% url 'main:adminviewcourses' id=x.id %}" style = "color : black;text-decoration: underline;"> View </a></td>
            <td style = "text-align: center;"><a href = "{% url 'main:adminviewgroupcourses' id=x.id %}" style = "color : black;text-decoration: underline;">View</a></td>
            <td style = "text-align: center;"><a href = "{% url 'main:adminviewclasses' id=x.id %}" style = "color : black;text-decoration: underline;">View</a></td>
            <td style = "text-align: center;"><a href = "{% url 'main:viewfacultytimetable' id=x.id %}" style = "color : black;text-align: center;"><i class="fa-regular fa-calendar"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
    </div>
  </section>


{% endblock body %}