{% extends "base.html" %}
{% block head %}

{% endblock head %}

{% block body %}
{% include 'navbar.html' with staff=staff%}

<div class="container">
    <div class="row" >
            <div class="card col-lg-3 col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Staff Members</h5>
                    <a href="{% url 'main:adminStaff' %}" class="btn btn-primary">View Staff</a>
                </div>
            </div>

            <div class="card col-lg-3 col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Labs</h5>
                    <a href="{% url 'main:adminLabs' %}" class="btn btn-primary">View Labs</a>
                </div>
            </div>
            <div class="card col-lg-3 col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Complaints</h5>
                    <a href="{% url 'main:adminComplaints' %}" class="btn btn-primary">View Complaints</a>
                </div>
            </div>

            <div class="card col-lg-3 col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Leaves</h5>
                    <a href="{% url 'main:adminLeaves' %}" class="btn btn-primary">View Complaints</a>
                </div>
            </div>
            <div class="card col-lg-3 col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Faculty</h5>
                    <a href="{% url 'main:adminfacultydetails' %}" class="btn btn-primary">View Faculty Details</a>
                </div>
            </div>

    </div>
</div>

{% endblock %}

