{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}


<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Groups</h2>
<div class="container">
  
    <div class="col">
        <div class=" card card-body" style="background-color: rgba(245, 245, 245,0.4);">
            <form method="get">
              {% load crispy_forms_tags %}
                {{myFilter.form|crispy}}
                <br>
                <button class="btn btn-dark btn-sm" type="submit">Search</button>
            </form>
        </div>
    </div>
    <br>
    <div class="courses-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >group-ID</th>
                <th scope="col" >Group Branch</th>
                <th scope="col" >Sem</th>
                <th scope="col" >edit</th>
              </tr>
            </thead>
    
            <tbody>
              {% for group in groups %}
              <tr class="table-success">
                <td>{{group.group_id}}</td>
                <td>{{group.branch.branch_name}}</td>
                <td>{{group.group_year}}({{group.semester_type}})</td>
                
                <td><a href="{% url 'main:admineditgroup' id=group.id%}" style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>
                
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="add-room" style="text-align:center">
          <p>If you want to add a Group,<a href="{%url 'main:addgroup'%}" style="color: black; text-decoration: underline;">click here</a></p>
        </div>
</div>
{% endblock body %}