{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}


<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Courses</h2>
<div class="container">
  
    <div class="col">
        <div class=" card card-body" style="background-color: rgba(245, 245, 245,0.4);">
            <form method="get">
              {% load crispy_forms_tags %}
                {{myFilter.form|crispy}}
                <br>
                <button class="btn btn-dark btn-sm" type="submit">Search</button>
            </form>
        </div>
    </div>
    <br>
    <div class="courses-table">
        <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
            <thead>
              <tr>
                <th scope="col" >Course-ID</th>
                <th scope="col" >Course Name</th>
                <th scope="col" >Course Credit</th>
                <th scope="col" >Sem</th>
                <th scope="col" >Edit</th>
              </tr>
            </thead>
    
            <tbody>
              {% for course in courses %}
              <tr class="table-success">
                <td>{{course.course_id}}</td>
                <td>{{course.course_name}}</td>
                <td>{{course.course_credit}}</td>
                <td>{{course.course_year}}({{course.semester_type}})</td>
                
                <td><a href="{% url 'main:admineditcourse' id=course.id%}" style="color: black; text-decoration: underline;"><i class="fas fa-user-edit"></i></a></td>
                
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="add-room" style = "text-align: center;">
          <p>If you want to add a Course,<a href="{%url 'main:adminaddcourse'%}" style="color: black; text-decoration: underline;">click here</a></p>
        </div>
</div>
</section>
{% endblock body %}