{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<div class="wrapper_">
    <div class="row">
        {% for lab in userLabs %}
            <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ lab }}</h5>
                    <p class="card-text">floor number (later)</p>
                    <a href="{% url 'main:lab' pk=lab.id%}" class="btn btn-dark btn-sm">View Lab</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}