{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff %}


{% if inventorystaff.room.room_id %}
  <h1>Office : {{inventorystaff.room.room_id}}</h1> 
{% else %}  
  <h1>Office : No office Assigned</h1> 
{% endif %}
<h2> Items Alloted to You</h2>
<div class="container">
    <div class="inventory-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >Item Id</th>
                <th scope="col" >Item Name</th>
                <th scope="col" >Item Description</th>
                <th scope="col" >Date Alloted</th>
              </tr>
            </thead>
    
            <tbody>
              {% for device in inventory %}
              {% if device.is_requested_for_return %}
              <tr style="color: red;">
                <td>{{device.device.device_id}}</td>
                <td>{{device.device.name}}</td>
                <td>{{device.device.description}}</td>
                <td>{{device.date_added}}</td>                     
              </tr>
              {% else %}
              <tr style="color: green;">
                <td>{{device.device.device_id}}</td>
                <td>{{device.device.name}}</td>
                <td>{{device.device.description}}</td>
                <td>{{device.date_added}}</td>                     
              </tr>
              {% endif %} 
              {% endfor %}
            </tbody>
          </table>
          <p>If you want to return for an Item <a href = "{%url 'main:devicesreturnrequest' id=staff.id%}">click here</a></p>
        </div>
    </div>
{% endblock body %}
