{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with user=user %}
<div class="wrapper_">
<a>{{labname.Lab_id}}</a>
<div class = "lab-h1">
    <h1>computers</h1>
</div>
<div class = "lab-computers">
    
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Computers</th>
            <th scope="col">Button</th>
          </tr>
        </thead>
        
        <tbody>
        {% for computer in computers %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ computer }}</td>
            <th><a href="{% url 'main:complaint' pk=computer.id %}"><button class="lab-submitButton" type="submit">Add Complaint </button></a></th>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h5 class = "lab-add-h5"> If you want to add Computers <a href="{% url 'main:add_computer' pk=labid %}" class = "lab-a2">click here</a> </h5>
</div>
{% endblock body %}
