{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'navbar.html' with user=user %}

<div class = "wrapper">
    <div class = "leaves container">
        <h1>Leaves Status</h1>

        <div class="card w-50 flex">
            <div  class="nav-link nav_text">
                <a href="{% url 'main:approveLeaves' %}">Leave Approval</a>
            </div>
            <div  class="nav-link nav_text">
                <a href="{% url 'main:checkLeaveStatus' %}">Pending Leaves</a>
            </div>
        </div>

        <div class = "tables-leaves card">
            <table>
                <h5>Leaves for: {{year}}</h5>
                <thead class="thead-dark">
                    <tr>
                        {% for leave in totalLeaves %}
                            <th>{{leave.LeaveName}} &nbsp;&nbsp;&nbsp;</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for leave in totalLeaves %}
                            <th>{{leave.count}} &nbsp;&nbsp;&nbsp;</th>
                        {% endfor %}

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container mt-5">
            <h5>Leaves Taken</h5>
            <div>
                {% for leavetaken in userLeavesTaken %}
                    <h6> {{leavetaken.leave_taken}}</h6> <p>{{leavetaken.count}}</p>
                {% endfor %}
            </div>

        </div>
        <div class = "request-leave-button">
            <a href="{% url 'main:requestleave' %}"><button class="leave-submitButton" type="submit">Request Leave </button></a>
        </div>
    </div>
</div>

{% endblock body %}