{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'navbar.html' with user=user %}

<div class = "wrapper">
    <div class = "leaves container">
        <h1>Leaves Status</h1>

        <div class="card w-50 flex">
            <div  class="nav-link nav_text">
                <a href="{% url 'main:approveLeaves' %}">Leave Approval</a>
            </div>
            <div  class="nav-link nav_text">
                <a href="{% url 'main:checkLeaveStatus' %}">Pending Leaves</a>
            </div>
            <div  class="nav-link nav_text">
                <a href="{% url 'main:viewprevleaves' %}">View Previous Leaves taken</a>
            </div>
        </div>

        <div class = "tables-leaves card">
            <table>
                <h5>Leaves for: {{year}}</h5>
                <thead class="thead-dark">
                    <th>Leaves Name</th>
                    <th>Total Leaves Alloted</th>
                    <th>Leaves Taken</th>
                </thead>
                <tbody>
                    {% for leave in userLeavesTaken %}
                    <tr>
                        <td>{{leave.leave_taken.LeaveName}}</td>
                        <td> {{leave.leave_taken.count}}</td>
                        <td> {{leave.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class = "request-leave-button">
            <a href="{% url 'main:requestleave' %}"><button class="leave-submitButton" type="submit">Request Leave </button></a>
        </div>
    </div>
</div>

{% endblock body %}