{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with user=user %}
<div class="container">
    <div class="text-primary">
        <h1> Notifications </h1>
    </div>
    <br>
    {% for notification in notifications %}

        {% if notification.isActive %}
            <a href="{% url 'main:handleNotification' pk=notification.id %}">
                {{ notification.message }}
            </a>
            <br/>
        {% endif %}
    {% endfor %}
</div>
{% endblock body %}
