{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff %}

<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;">Dashboard</h2>
<table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
    <thead>
      <tr>
        <th scope="col">Lab</th>
        <th scope="col">Device</th>
        <th scope="col">Complaint</th>
        <th scope="col">click</th>
      </tr>
    </thead>
        <tbody>
        {% for complaint in complaints %}
            {% if complaint.isActive %}
        <tr  class="table-success" style = "text-align: center;">
            <td>{{ complaint }}</td>
            <td>{{ complaint.computer }}</td>
            <td>{{ complaint.computer.lab_id }}</td>
            <td><a href="{% url 'main:resolveConflict' pk=complaint.id %}" style="color: black;">Resolve</a></td>
        </tr>
            {% endif %}
        {% endfor %}
        </tbody>
  </table>
</section>


{% endblock body %}
