{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}

<section class="sectionLogin">
  <br>
  <h2 style = "text-align: center;"> Device Complaint</h2>
<div class="container">

<h1> Device id : {{device.device_id}}</h1>
<h1>Device Category :{{device.name}}</h1>

<table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
    <thead>
      <tr>
        <th scope="col">Complaint Sender</th>
        <th scope="col">Complaint Created At</th>
        <th scope="col">Complaint Reason</th>
        <th scope="col">Complaint Active Status</th>
      </tr>
    </thead>
        <tbody>

        {% for active_complaint in active_complaints %}
        <tr class="table-success" style = "text-align: center;">
            <td>{{ active_complaint.created_by }}</td>
            <td>{{ active_complaint.created_at }}</td>
            <td>{{ active_complaint.complaint }} </td>
            <td>{{ active_complaint.isActive }}</td>
                </tr>
        {% endfor %}
        </tbody>
  </table>
  <br>
  <h1> Resolved Complaints </h1>

  <table class="table1 table table-borderless table-dark table-hover" style = "text-align: center;">
    <thead>
      <tr>
        <th scope="col">Complaint Sender</th>
        <th scope="col">Complaint Created At</th>
        <th scope="col">Complaint Reason</th>
        <th scope="col">Work Done</th>
        <th scope="col">Complaint Active Status</th>
      </tr>
    </thead>
        <tbody>

        {% for complaint in resolved_complaints %}
        <tr class="table-success" style = "text-align: center;">
            <td>{{ complaint.created_by }}</td>
            <td>{{ complaint.created_at }}</td>
            <td>{{ complaint.complaint }} </td>
            <td>{{ complaint.work_Done }} </td>
            <td>{{ complaint.isActive }}</td>
                </tr>
        {% endfor %}
        </tbody>
  </table>

  </div>
</section>

{% endblock body %}