{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Job Details</h2>
<div class="container">
    <div class="card p-5 card-body" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
          <p>Title: {{job.title}}</p>
          <p>Date: {{job.date}}</p>
          <p>Job Status:
            {% if job.active %}
                Active
            {% else %}
                Closed
            {% endif %}
        </p>
          <p>Description: {{job.description}} </p>
    </div>
</div>

</div>
</section>

{% endblock body %}