{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'navbar.html' with staff=staff notification_count=notification_count %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Dashboard</h2>
    <br><br>
<div class="container">
    <div class="card-group" style = "margin: 20px;">
            <div class="card col-lg-3 col-sm-12 col-md-6"  style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
                <div class="card-body">
                    <h5 class="card-title">
                        Assigned Courses
                    </h5>
                    <a href="{% url 'main:viewcourses' %}" class="btn btn-dark btn-sm">View Courses</a>
                </div>
            </div>

            <div class="card col-lg-3 col-sm-12 col-md-6"  style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
                <div class="card-body">
                    <h5 class="card-title">Groups Alloted</h5>
                    <a href="{% url 'main:viewgroups' %}" class="btn btn-dark btn-sm">View Groups</a>
                </div>
            </div>
            <div class="card col-lg-3 col-sm-12 col-md-6" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
                <div class="card-body">
                    <h5 class="card-title">Groups-Courses</h5>
                    <a href="{% url 'main:viewgroupcourses' %}" class="btn btn-dark btn-sm">View Groups-Courses</a>
                </div>
            </div>
            </div>
            <div class = "card-group"  style = "margin: 20px;">
            <div class="card col-lg-3 col-sm-12 col-md-6" style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
                <div class="card-body">
                    <h5 class="card-title">Scheduled Classes</h5>
                    <a href="{% url 'main:viewfacultyclasses' %}" class="btn btn-dark btn-sm">View Classes</a>
                </div>
            </div>

            <div class="card col-lg-3 col-sm-12 col-md-6 " style = "background-color: rgba(245, 245, 245, 0.2);margin:20px;border:1px solid black">
                <div class="card-body">
                    <h5 class="card-title">Classes Timetable</h5>
                    <a href="{% url 'main:viewfacultytimetable' id=staff.id %}" class="btn btn-dark btn-sm">View Timetable</a>
                </div>
            </div>
            </div>

            

    </div>
</div>
</section>

{%endblock body%}