{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'navbar.html' with staff=staff %}
<style>
    h1{
        text-align: center;
        color: black;
        padding: 2px;
    }
    .request{
        text-align: center;
    }
</style>

<div class="wrapper_">

    
    <div>
        <h1>
            Labs Asigned 
        </h1>
    </div>
    <div class="row">
        {% for lab in userLabs %}
            <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ lab.lab.room_id }}</h5>
                    <p class="card-text">floor - {{lab.lab.floor}}</p>
                    <a href="{% url 'main:lab' pk=lab.id%}" class="btn btn-dark btn-sm">View Lab</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    <div class="card col-lg-3 col-sm-12 col-md-6">
        <div class="card-body">
            <h5 class="card-title">Faculty</h5>
            <a href="{% url 'main:adminfacultydetails' %}" class="btn btn-primary">View Faculty Details</a>
        </div>
    </div>
</div>

{% endblock body %}


<!--
    navbar
    NOTE : CURRENT LEAVES REMAINING
    LABS ASSIGNED
    VIEW PERSONAL DETAIL -- BUTTON
-->