{% extends "base.html" %}
{% load static %}

{% block title %}User Profile{% endblock title %}

{% block body %}

{% include 'navbar.html' with staff=staff %}
<section class="sectionLogin">
    <br>
    <h2 style = "text-align: center;">Profile</h2>
<div class="container">
    <div class="form-control container" style = "background-color: rgba(245, 245, 245, 0.2);margin:auto;">
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3 row" >
                <label for="user" class="col-sm-2 col-form-label">User</label>
                <div class="col-sm-10 col-lg-4" >
                  <input type="text" readonly class="form-control-plaintext" name="user" id="user" value="{{staff.name}}" >
                </div>
            </div>

            <div class="mb-3 row">
                <label for="mobile" class="col-sm-2 col-form-label">Mobile Number</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="mobile" id="mobile" value="{{staff.mobile_number}}" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="email" id="email" value="{{staff.email}}"/>
                    </div>
            </div>

            <div class="mb-3 row">
                <label for="category" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="category" id="category" value="{{staff.category}}"/>
                    </div>
            </div>
            <div class="mb-3 row">
                <label for="designation" class="col-sm-2 col-form-label">Designation</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="designation" id="designation" value="{{staff.designation}}"/>
                    </div>
            </div>
            <div class="mb-3 row">
                <label for="agency" class="col-sm-2 col-form-label">Agency</label>
                <div class="col-sm-10 col-lg-4">
                    <input type="text" readonly class="form-control-plaintext" name="agency" id="agency" value="{{staff.agency}}"/>
                    </div>
            </div>
        

            <div class="mb-3 row">
                <div class="col-sm-10 col-lg-4">
                <button type="submit" class="btn btn-dark btn-sm"><a style="color: white; text-decoration: none;" href="{% url 'main:editProfile' pk=staff.id%}">Edit Profile</a></button>
                </div>
            </div>

        </form>
    </div>

</div></section>

{% endblock body %}